{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Разработчики</h1>
    <hr class="featurette-divider">

<div class="row">
      <div class="col-lg-4">
        <img src="https://i.ibb.co/02GgqVS/leka.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Пахалев Алексей</h2>
        <p>Кофегенератор кода</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="https://i.ibb.co/w7F7ZSX/rus.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Кубашев Руслан</h2>
        <p>Положил своими запросами Google API</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="https://i.ibb.co/6BYPvHW/dara.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Фролкова Дарья</h2>
        <p>Решает второе задание на питоне</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
    </div>
{% endblock %}
